**/.open-gsio/
**/node_modules/
**/dist/
**/build/
**/coverage/
**/.wrangler/
**/.idea/
**/html/
**/.env
packages/client/public/static/fonts/*

**/secrets.json
**/.dev.vars
packages/client/public/sitemap.xml
packages/client/public/robots.txt
wrangler.dev.jsonc